<%- include('./partials/head'); %>
<%- include('./partials/functions'); %>
<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<%- typeof pageMessage !== 'undefined' ? '<h1>' + getFirstUpperCase(pageMessage) + '</h1>' : ''; %>
<%- include('./partials/footer') %>