<%- include('./partials/head'); %>
<%- include('./partials/functions'); %>
<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<section></section>
<%- include('./partials/footer'); %>