<%- include('./partials/head'); %>
<%- include('./partials/functions'); %>
<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<!--  -->
<h1 id="name"></h1>
<!--  -->
<%- include('./partials/footer'); %>