<%- include('./partials/head'); %>
<%- include('./partials/functions'); %>
<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<!--  -->
<p id="palavra">Fábio</p>
<!--  -->
<%- include('./partials/footer'); %>