<%
  let userData = '';
  userData += userSession['title'] ? '<p>' + getFirstUpperCase(userSession['title']) + '</p>' : '';
  userData += userSession['accesskey'] ? '<p>' + getFirstUpperCase(userSession['accesskey']) + '</p>' : '';
  userData += userSession['phone'] ? '<p>' + getFirstUpperCase(userSession['phone']) + '</p>' : '';
%>
<div class="<%- currentClass.trim(); %>">
  <%- typeof userSession !== 'undefined' ? userData : ''; %>
</div>
<div class="<%- currentClass.trim(); %>">
  <%
    let html = '';
    html += '<nav class=\"';
      html += ' container-fluid';
      html += ' navbar';
      html += ' navbar-expand-lg';
      html += ' navbar-light';
    html += '\">';
  %>
  <%- html; %>
  <%
    html = '';
    html += '<button';
    html += ' aria-controls=\"navbarSupportedContent\"';
    html += ' aria-expanded=\"false\"';
    html += ' aria-label=\"Toggle navigation\"';
    html += ' class=\"navbar-toggler\"';
    html += ' data-bs-target=\"#navbarSupportedContent\"';
    html += ' data-bs-toggle=\"collapse\"';
    html += ' type=\"button\"';
    html += '>';
  %>
  <%- html; %>
    <span class="navbar-toggler-icon"></span>
  </button>
    <%- '<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">'; %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% for (let x = 0; x <= Number(navbar['length'] - 1); x++) { %>
          <%- '<li' + (getValidation(navbar[x]['menu']) ? ' class=\"nav-item dropdown\"' : ' class=\"nav-item\"') + '>'; %>
            <%
              let id = 'dropDown' + getRomanNumber(x + 1);
              html = '';
              html += '<a';
              html += getValidation(navbar[x]['menu']) ? ' aria-expanded=\"false\"' : '';
              html += getValidation(navbar[x]['menu']) ? ' class=\"nav-link dropdown-toggle\"' : ' class=\"nav-link\"';
              html += getValidation(navbar[x]['menu']) ? ' data-bs-toggle=\"dropdown\"' : '';
              html += ' href=\"' + navbar[x]['path'].trim().toLowerCase() + '\"';
              html += getValidation(navbar[x]['menu']) ? ' id=\"' + id.trim().toLowerCase() + '\"' : '';
              html += getValidation(navbar[x]['menu']) ? ' role=\"button\"' : '';
              html += '>';
              html += getFirstUpperCase(navbar[x]['name'].trim());
              html += '</a>';
            %>
            <%- html; %>
            <% if (!getValidation(navbar[x]['menu'])) { } else { %>
              <%- '<ul class=\"dropdown-menu p-3\" aria-labelledby=\"' + id.trim().toLowerCase() + '\">'; %>
                <% for (let y = 0; y <= Number(navbar[x]['menu']['length'] - 1); y++) { %>
                  <%- '<li>'; %>
                    <%- getValidation(navbar[x]['menu'][y]['title']) ? '<h6>' + getFirstUpperCase(navbar[x]['menu'][y]['title']) + ':' + '</h6>' : ''; %>
                    <%- '<ul>'; %>
                      <% for (let z = 0; z <= Number(navbar[x]['menu'][y]['content']['length'] - 1); z++) { %>
                        <%
                          html = '';
                          html += '<li>';
                            let href = getValidation(navbar[x]['menu'][y]['content'][z]['path']) ? navbar[x]['menu'][y]['content'][z]['path'] : '#';
                            html += '<a class=\"dropdown-item\" href=\"' + href + '\">';
                              html += getFirstUpperCase(navbar[x]['menu'][y]['content'][z]['name'].trim());
                            html += '</a>';
                          html += '</li>';
                        %>
                        <%- html; %>
                      <% } %>
                    <%- '</ul>'; %>
                  <%- '</li>'; %>
                <% } %>
              <%- '</ul>'; %>
            <% } %>
          <%- '</li>'; %>
        <% } %>
      </ul>
      <%- include('./form-search'); %>
    </div>
  </nav>
</div>
<%- typeof pageTitle !== 'undefined' ? '<h1>' + getFirstUpperCase(pageTitle) + '</h1>' : ''; %>
<div class="<%- currentClass.trim(); %>" id="content">